[Unit]
Description=Daily Incremental Backup Timer
Requires=daily-backup.service

[Timer]
OnCalendar=daily
OnBootSec=30min
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
